*{
    margin: 0;
    padding: 0;
}

body {
    
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .libre-baskerville-bold {
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .libre-baskerville-regular-italic {
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: italic;
      }
      

.cadastroSite {
display: flex;
flex-direction: column;
border: 1px solid black;
text-align: center;
align-items: center;
height: 536px;
margin-left: 31%;
margin-right: 25%;
margin-top: 180px;
padding-top: 1%;
background-color: rgb(207, 131, 157);
box-shadow: 15px 15px 15px;
}

input {
    width: 300px;
    text-align: center;
}

button {
    width: 100px;
}

button:hover {
    background-color: pink;
    border: none;
    color: aliceblue;
}

.LoginSite {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    height: 300px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    padding-top: 60px;
    background-color: rgb(207, 131, 157);
    box-shadow: 15px 15px 15px;
    }
    
    input {
        width: 300px;
        text-align: center;
    }
    
    button {
        width: 100px;
    }
    
    button:hover {
        background-color: pink;
        border: none;
        color: aliceblue;
    }